{% load bacon_tags %}
{% spaceless %}
<table class="bacon bacon-pivot">

{% for pivot_label, pivot_lvs in table.pivot_titles %}
	<tr class="pivot">
		{% for t in table.widget_titles %}
		<th class="widget">
		</th>
		{% endfor %}

		<th class="button" colspan="{{ table.label_titles|length }}">
			<a class="nav button" title="Pivot on axis"
					href="{% pivot_url table pivot_label %}">
				<span>&#8601;</span>
			</a>
			<span class="label">{{ pivot_label }}</span>
			{% drop_axis_button table pivot_label %}
		</th>

		{% for lv in pivot_lvs %}
		<th class="value" colspan="{{ table.value_titles|length }}">
			<a class="nav" title="Filter by value"
					href='{% filter_url table lv %}'>
				<span class="label">{{ lv }}</span>
				<a class="nav button" title="Hide value"
						href="{% hide_labeled_value_url table lv %}">
					<span>&#10005;</span>
				</a>
			</a>
		</th>
		{% endfor %}

		{% if forloop.first %}
		<th class="value" colspan="{{ table.value_titles|length }}"
			rowspan="{{ table.pivot_labels|length }}" >Total</th>
		{% endif %}

	</tr>
{% endfor %}

	<tr class="titles">
		{% for t in table.widget_titles %}
		<th class="widget">
			{{ t }}
		</th>
		{% endfor %}

		{% for t in table.label_titles %}
		<th class="label">
			{% if t %}
				{% if forloop.first %}
					{% reset_order_button table %}
				{% endif %}

				{% if t.allow_pivot %}
				<a class="nav button" title="Pivot on axis"
						href="{% pivot_url table t %}">
					<span>&#8599;</span>
				</a>
				{% endif %}

				<span class="label">{{ t }}</span>
				{% drop_axis_button table t %}
			{% else %}
				<span class="label">&#160;</span>
			{% endif %}
		</th>
		{% endfor %}

		{% for lvs in table.pivot_lvs %}
			{% for t in table.value_titles %}
			<th class="value">
				{% order_buttons table t lvs %}
				<span class="label">{{ t }}</span>
				<a class="nav button" title="Hide value"
						href="{% hide_value_url table t %}">
					<span>&#10005;</span>
				</a>
			</th>
			{% endfor %}
		{% endfor %}

		{% for t in table.value_titles %}
		<th class="value">
			{% order_buttons table t %}
			<span class="label">{{ t }}</span>
			<a class="nav button" title="Hide value"
					href="{% hide_value_url table t %}">
				<span>&#10005;</span>
			</a>
		</th>
		{% endfor %}
	</tr>

	{% for row in table.rows %}
	<tr class="values">
		{% for title in table.widget_titles %}
		<td class="widget">
			{% table_row_widgets table title row %}
		</td>
		{% endfor %}

		{% for label in row.labels %}
		<td class="{{ label.cls }}">
			{% if label %}
				<a class="nav" title="Filter by value"
						href="{% filter_url table label %}">
					<span>{{ label }}</span>
				</a>
			{% else %}
				&#160;
			{% endif %}
		</td>
		{% endfor %}

		{% for v in row.values %}
			<td class="{{ v.cls }}">{{ v.pretty|default:"&#160;" }}</td>
		{% endfor %}

		{% for t in row.totals %}
			<td class="total {{ t.cls }}">{{ t.pretty|default:"&#160;" }}</td>
		{% endfor %}
	</tr>
	{% endfor %}

	{% if table.totals %}
	<tr class="totals">
		{% for t in table.widget_titles %}
		<td class="label">&#160;</td>
		{% endfor %}

		{% for t in table.label_titles %}
		<td class="label">&#160;</td>
		{% endfor %}

		{% for v in table.totals %}
		<td class="{{ v.cls }}">{{ v.pretty|default:"&#160;" }}</td>
		{% endfor %}
	</tr>
	{% endif %}

</table>

{% pager table %}

{% endspaceless %}
